@using FlouristStudio
@model SignUp
@{  
}
<head>
    @*<link rel="stylesheet" href="~/css/SignUp.css" asp-append-version="true" />*@
   <style>
   h1{
       color:red;
       display:grid;
       place-content:center;
   }
   </style>
</head>
  <div>
      <h1>
          Welcome You Are In!
      </h1>
  </div>