@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    @* <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h2>ASP .NET LAB TODAY</h2> *@
    <h1>
        My Math App
    </h1>
    <table class="table table-striped">
    <tbody>
        <tr>
            <td>First Number</td>
            <td id="num1"></td>
        </tr>
        <tr>
            <td>Second Number</td>
            <td id="num2"></td>
        </tr>
        <tr>
           <td>Operation</td>
            <td id="op"> </td>
        </tr>
        <tr>
        <td>Result</td>
        <td id="res"> </td>
        </tr>
    </tbody>
    </table>
</div>

@* <h1>
    Branding ASP .NET
</h1>
<div class="navbar">
    <div class="text">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci fugiat numquam voluptates quasi dolore consectetur ex culpa eius amet nihil! Nulla incidunt at similique. Cupiditate, ea ab. Deleniti, sit dolorum quaerat consequuntur nemo, repellat dicta consectetur nam dolor praesentium, impedit rem natus omnis! Eos corporis ad voluptatum quas pariatur suscipit, eaque sed veritatis aliquam laboriosam quaerat repellat quos. Quos, accusantium id harum illo culpa corporis, labore consectetur atque, fugit et eaque ab dicta aspernatur fugiat rerum. Quidem deserunt ipsam sint dolore ex dignissimos porro ratione quisquam obcaecati atque explicabo dolorum, recusandae beatae placeat, voluptas eaque provident alias iusto eius officia cum fugit, sapiente quas. Nemo, quae maxime adipisci corrupti ipsam perspiciatis similique? Earum nihil perspiciatis saepe sapiente perferendis velit illum quibusdam animi modi dolorem porro, sint quae ipsum harum fugiat doloremque reprehenderit eius dolores, sit, dolore consequuntur!
    </div>
    <div class="addhere">
        <label for="name">Name</label>
        <input type="text" name="name" id="name">
        <label for="rollno">RollNo</label>
        <input type="text" name="rollno" id="rollno">
        <button class="addBtn">ADD</button>
    </div>
    <div class="obj">
    </div>
    <div class="buttons">
        <button class="edit">
            Edit
        </button>
        <button class="update">
            Update
        </button>
        <button class="delete">
            Delete
        </button>
    </div>
</div> *@
